# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\慕课网web入门\django_mall\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
